In [29]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.4.2)
Requirement already satisfied: certifi~=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [30]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [31]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\Chromedriver.exe')

In [32]:
driver.get('https://www.naukri.com/')

In [33]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [34]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [35]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [36]:
Job_title=[]
Job_location=[]
Company_name=[]
Exp_req=[]

In [38]:
Titles=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in Titles[:10]:
    title=i.text
    Job_title.append(title)

Locations=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in Locations[:10]:
    location=i.text
    Job_location.append(location)
    
Companies=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in Companies[:10]:
    company=i.text
    Company_name.append(company)

Experience=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in Experience[:10]:
    exp=i.text
    Exp_req.append(exp)

In [40]:
df=pd.DataFrame({'Job_title':Job_title,'Job_location':Job_location,'Company_name':Company_name,'Experience_Req':Exp_req})
df

,Job_title,Job_location,Company_name,Experience_Req
0,Business & Data Analyst- Assistant Manager,"Bangalore/Bengaluru, Hyderabad/Secunderabad",State Street,1-3 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
3,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
4,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Ahmedabad",milestone internet marketing pvt ltd,2-7 Yrs
6,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
7,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix,3-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
9,Senior Analyst/Data Scientist,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",JoulestoWatts,6-9 Yrs